In [1]:
def f(x):
    y=x
    x=5
    return x*y

In [2]:
x=3
print(f(x))
print(x)

15
3

In [7]:
def spam(eggs):
    eggs.append(1)
    eggs.append(2)
    eggs.append(3)

In [8]:
ham=[0]
spam(ham)
print(ham)

[0, 1, 2, 3]

In [10]:
def f():
    global s
    s="I love London!"
    print(s, 2)

s="I love Paris!"
print(s, 1)
f()
print(s, 3)

I love Paris! 1
I love London! 2
I love London! 3

In [11]:
def func(name, age):
    print(name, age)

In [14]:
func('홍길동', 20)
func(age=20, name="홍길동")
func('aaa', 30)

홍길동 20
홍길동 20
aaa 30

In [15]:
def func2(name, age=20):
    print(name, age)

In [16]:
func2('aaaa',10)
func2('bbbb')

aaaa 10
bbbb 20

In [17]:
def func3(a, b, *c):
    print(a, b, c)

In [18]:
func3(1,2,3)
func3(1,2,3,4,5)
func3(1,2,3,4,5,6,7,8)

1 2 (3,)
1 2 (3, 4, 5)
1 2 (3, 4, 5, 6, 7, 8)

In [21]:
def func4(*args):
    print(args)
    a,b,*c=args
    print(a,b,c)

In [22]:
func4(1,2,3,4)

(1, 2, 3, 4)
1 2 [3, 4]

In [23]:
def func5(**kargs):
    print(kargs)
    print('첫번째 값 {first}'.format(**kargs))
    print('두번째 값 {second}'.format(**kargs))
    print('세번째 값 {third}'.format(**kargs))

In [24]:
func5(first=10, second=20, third=30)

{'first': 10, 'second': 20, 'third': 30}
첫번째 값 10
두번째 값 20
세번째 값 30

In [25]:
def func6(one, two, *args, **kwargs):
    print(one, two, args)
    print(kwargs)

In [26]:
func6(1,2,3,4, first=10, second=20, third=30)

1 2 (3, 4)
{'first': 10, 'second': 20, 'third': 30}

In [1]:
a="TEAM"
b="LAB"
c=a+" "+b
print(c+str(1))

TEAM LAB1

In [6]:
s1="TEMLAB X Inflearn"
print(s1.upper())
print(s1.lower())
print(s1.title())
print(s1.capitalize())
print(s1.lower().count('a'))
print(s1.isdigit())
print(s1.lower().startswith("tem"))
print(s1.endswith("."))
str_arr=s1.split()
print(str_arr)

TEMLAB X INFLEARN
temlab x inflearn
Temlab X Inflearn
Temlab x inflearn
2
False
True
False
['TEMLAB', 'X', 'Inflearn']

In [7]:
a="""It\'s Ok
I\'m Happy
See you
"""

print(a)

It's Ok
I'm Happy
See you

In [9]:
f=open('data/yesterday.txt', 'r')
yesterday_line=f.readlines()
f.close()
yesterday_line

['Yesterday all my troubles\n',
 'seemed so far away.\n',
 'Now it looks\n',
 "as though they're here to stay.\n",
 'Oh, I believe in yesterday.\n',
 '\n',
 "Suddenly I'm not half\n",
 'the man I used to be.\n',
 "There's a shadow hanging over me.\n",
 'Oh, yesterday came suddenly.\n',
 '\n',
 'Why she had to go,\n',
 "I don't know,\n",
 "she wouldn't say.\n",
 'I said something wrong,\n',
 'now I long for yesterday.\n',
 '\n',
 'Yesterday love was\n',
 'such an easy game to play.\n',
 'Now I need a place to hide away.\n',
 'Oh, I believe in yesterday.\n',
 '\n',
 'Why she had to go,\n',
 "I don't know,\n",
 "she wouldn't say.\n",
 'I said something wrong,\n',
 'now I long for yesterday.\n',
 '\n',
 'Yesterday love was\n',
 'such an easy game to play.\n',
 'Now I need a place to hide away.\n',
 'Oh, I believe in yesterday.\n',
 '\n',
 'Mm mm mm mm mm mm mm\n']

In [11]:
contents=''
for line in yesterday_line:
    contents+=line.strip()+" "
    
contents

"Yesterday all my troubles seemed so far away. Now it looks as though they're here to stay. Oh, I believe in yesterday.  Suddenly I'm not half the man I used to be. There's a shadow hanging over me. Oh, yesterday came suddenly.  Why she had to go, I don't know, she wouldn't say. I said something wrong, now I long for yesterday.  Yesterday love was such an easy game to play. Now I need a place to hide away. Oh, I believe in yesterday.  Why she had to go, I don't know, she wouldn't say. I said something wrong, now I long for yesterday.  Yesterday love was such an easy game to play. Now I need a place to hide away. Oh, I believe in yesterday.  Mm mm mm mm mm mm mm "

In [ ]:
n_of_yesterday=contents.lower().count('yesterday')
print("N")

In [2]:
#문자열 서식
name='홍길동'
age=20
s1="이름은 %s이고 나이는 %d입니다"%(name, age)
print(s1)

s2="이름은 {}이고 나이는 {}입니다.".format(name, age)
print(s2)

이름은 홍길동이고 나이는 20입니다
이름은 홍길동이고 나이는 20입니다.

In [7]:
age=40;name="홍길동";unit=5.234
print("I'm {1:5d} years old, my name is {0:>10s} and Price per unit {2:.2f}".format(name,age,unit))

print("I am %d years old, my name is %s and Price per unit %.2f"%(age,name,unit))

I'm    40 years old, my name is        홍길동 and Price per unit 5.23
I am 40 years old, my name is 홍길동 and Price per unit 5.23