In [1]:
#if-else문
score=80

if score>70:
    print("합격")
    print("축하합니다")
else:
    print("불합격")
    print("다음기회에 다시 도전하세요")
    
print("end")

합격
축하합니다
end

In [2]:
score=int(input("input score:"))

if score>=90:
    print('A')
elif score>=80:
    print('B')
elif score>=70:
    print('C')
else:
    print("F")

input score: 70

C

In [7]:
brith=int(input("당신이 태어난 연도를 입력하세요 : "))
age=2021 - brith + 1

if age <= 26 and age >=20:
    print("대학생")
elif age < 20 and age >= 17:
    print("고등학생")
elif age < 17 and age >=14:
    print("중학생")
elif age < 14 and age >= 8:
    print("초등학생")
else:
    print("학생이 아닙니다")

당신이 태어난 연도를 입력하세요 :  1982

학생이 아닙니다

In [8]:
brith=int(input("당신이 태어난 연도를 입력하세요 : "))
age=2021 - brith + 1
print('age=', age)

if age < 8 or age > 26:
    print("학생이 아닙니다")
elif age >= 20:
    print("대학생")
elif age >= 17:
    print("고등학생")
elif age >= 14:
    print("중학생")
else:
    print("초등학생")

당신이 태어난 연도를 입력하세요 :  1990

age= 32
학생이 아닙니다

In [9]:
1<=100<10

False

In [ ]:
#for i in list:
# for i in ragne(start, end, step) :

In [10]:
for i in [10, 20, 30, 40, 50]:
    print(i)

10
20
30
40
50

In [12]:
for i in range(10): # range(0, 10, 1)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
for i in 'abcdefg':
    print(i)

a
b
c
d
e
f
g

In [14]:
colors=['red','grenn','blue','pink','black','white']
for i in colors:
    for j in i:
        print(j, end=' ')
    print()

r e d
g r e n n
b l u e
p i n k
b l a c k
w h i t e

In [15]:
sum=0
for i in range(100):
    sum+=i
    if(sum>=50):
        break
    print(i, sum)
    
print('for end:', i, sum)

0 0
1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
for end: 10 55

In [16]:
for i in range(10):
    print(i)
else:
    print('end of program')

0
1
2
3
4
5
6
7
8
9
end of program

In [19]:
sentence = "I love you"
reverse_sentence = ''
for char in sentence:
    reverse_sentence = char + reverse_sentence
print(reverse_sentence)

uoy evol I

In [20]:
kor = [49, 80, 20, 100, 80]
math = [43, 60, 85, 30, 90]
eng = [49, 82, 48, 50, 100]
mid = [kor, math, eng]

student = [0, 0, 0, 0, 0]
i = 0
for subject in mid:
    for score in subject:
        student[i] += score
        i += 1
    i = 0
else:
    a, b, c, d, e = student
    student_avg = [a/3, b/3, c/3, d/3, e/3]
    print(student_avg)

[47.0, 74.0, 51.0, 60.0, 90.0]

In [27]:
kor = [49, 80, 20, 100, 80]
math = [43, 60, 85, 30, 90]
eng = [49, 82, 48, 50, 100]
mid = [kor, math, eng]

student = [0.0, 0.0, 0.0, 0.0, 0.0]

for i in range(len(mid)):
    for j in range(len(mid[i])):
        student[j] += mid[i][j]
        
a,b,c,d,e = student
student = [a/3, b/3, c/3, d/3, e/3]
print(student)
student_rank=[1, 1, 1, 1, 1]
for i in range(len(student)):
    for j in range(len(student)):
        if student[j] > student[i]:
            student_rank[i] += 1
            
print(student_rank)

[47.0, 74.0, 51.0, 60.0, 90.0]
[5, 2, 4, 3, 1]