In [2]:
import sqlite3
print(sqlite3.version)
print(sqlite3.sqlite_version)

2.6.0
3.35.4

In [3]:
def create_table():
    conn = sqlite3.connect('my_book.db')
    cursor = conn.cursor()
    sql = """create table if not exists books(
    title text,
    published_date text,
    publisher text,
    pages integer
    )"""
    cursor.execute(sql)
    conn.commit()
    conn.close()
create_table()

In [17]:
def insert_books(data):
    conn = sqlite3.connect('my_book.db')
    cursor = conn.cursor()
    #sql="insert into books values('java', '2021-01-12', '길벗', 500)"
    sql="insert into books values(?, ?, ?, ?)"
    cursor.execute(sql, data)
    conn.commit()
    conn.close()

In [18]:
data=('python','2011-01-12','한빛',450)
insert_books(data)

In [22]:
def insert_many_books(data):
    conn = sqlite3.connect('my_book.db')
    cursor = conn.cursor()
    #sql="insert into books values('java', '2021-01-12', '길벗', 500)"
    sql="insert into books values(?, ?, ?, ?)"
    cursor.executemany(sql, data)
    conn.commit()
    conn.close()

In [23]:
items=[('빅데이터','2021-05-05','영진',550),('안드로이드','2022-01-01','한빛',600)]
insert_many_books(items)

In [11]:
def all_books():
    conn = sqlite3.connect('my_book.db')
    cursor = conn.cursor()
    sql = "select * from books"
    cursor = conn.cursor()
    cursor.execute(sql)
    books = cursor.fetchall()
    print(books)
    print(type(books))
    for book in books:
        print(book)
    conn.close()

In [24]:
all_books()

[('java', '2021-01-12', '길벗', 500), ('python', '2011-01-12', '한빛', 450), ('빅데이터', '2021-05-05', '영진', 550), ('안드로이드', '2022-01-01', '한빛', 600)]
<class 'list'>
('java', '2021-01-12', '길벗', 500)
('python', '2011-01-12', '한빛', 450)
('빅데이터', '2021-05-05', '영진', 550)
('안드로이드', '2022-01-01', '한빛', 600)

In [25]:
def some_books(number):
    conn = sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="select * from books"
    cursor = cursor.execute(sql)
    books=cursor.fetchmany(number)
    for book in books:
        print(book)
    conn.close()

In [26]:
some_books(3)

('java', '2021-01-12', '길벗', 500)
('python', '2011-01-12', '한빛', 450)
('빅데이터', '2021-05-05', '영진', 550)

In [27]:
def one_books():
    conn = sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="select * from books"
    cursor = cursor.execute(sql)
    books=cursor.fetchone()
    for book in books:
        print(book)
    conn.close()

In [28]:
one_books()

java
2021-01-12
길벗
500

In [29]:
def select_books():
    conn = sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="select * from books where pages>500 order by title desc"
    cursor = cursor.execute(sql)
    books=cursor.fetchall()
    for book in books:
        print(book)
    conn.close()

In [30]:
select_books()

('안드로이드', '2022-01-01', '한빛', 600)
('빅데이터', '2021-05-05', '영진', 550)

In [36]:
def update_books(datas):
    conn = sqlite3.connect('my_book.db')
    cursor = conn.cursor()
    sql='update books set pages=? where title=?'
    cursor.executemany(sql,datas)
    conn.commit()
    conn.close()

In [37]:
datas=[(400,'java'),(550,'안드로이드')]
update_books(datas)
all_books()

[('java', '2021-01-12', '길벗', 400), ('python', '2011-01-12', '한빛', 450), ('빅데이터', '2021-05-05', '영진', 550), ('안드로이드', '2022-01-01', '한빛', 550)]
<class 'list'>
('java', '2021-01-12', '길벗', 400)
('python', '2011-01-12', '한빛', 450)
('빅데이터', '2021-05-05', '영진', 550)
('안드로이드', '2022-01-01', '한빛', 550)

In [38]:
def delete_books():
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="delete from books where title='java'"
    cursor.execute(sql)
    conn.commit()
    conn.close()

In [39]:
delete_books()

In [40]:
all_books()

[('python', '2011-01-12', '한빛', 450), ('빅데이터', '2021-05-05', '영진', 550), ('안드로이드', '2022-01-01', '한빛', 550)]
<class 'list'>
('python', '2011-01-12', '한빛', 450)
('빅데이터', '2021-05-05', '영진', 550)
('안드로이드', '2022-01-01', '한빛', 550)

In [31]:
import cx_Oracle

In [46]:
def all_product():
    conn=cx_Oracle.connect("nyy/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="select * from product"
    cursor.execute(sql)
    #product=cursor.fetchall()
    for row in cursor:
        description=row[3].read()
        data=list(row)
        data[3]=description
        #print(row)
        print(data)
    conn.close()

In [47]:
all_product()

[1, '레몬', 1500, '레몬에 포함된 구현산은 피로회복에 좋습니다.', 'lemon.jpg']

In [50]:
def insert_one_product(data):
    conn=cx_Oracle.connect("nyy/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="insert into product values(:1, :2, :3, :4, :5)"
    cursor.execute(sql, data)
    conn.commit()
    conn.close()

In [51]:
data=(2,'오렌지',5000,'비타민 C가 풍부합니다. 생과일 주스로 마시면 좋습니다','orange.jpg')
insert_one_product(data)

In [53]:
all_product()

[1, '레몬', 1500, '레몬에 포함된 구현산은 피로회복에 좋습니다.', 'lemon.jpg']
[2, '오렌지', 5000, '비타민 C가 풍부합니다. 생과일 주스로 마시면 좋습니다', 'orange.jpg']

In [60]:
def insert_many_product(datas):
    conn=cx_Oracle.connect("nyy/1234@localhost:1521/xe")
    cursor=conn.cursor()
    sql="insert into product values(:1, :2, :3, :4, :5)"
    cursor.executemany(sql, datas)
    conn.commit()
    conn.close()

In [62]:
datas=[(3,'키위',5000,'다이어트나 미용에 좋습니다.','kiwi.jpg'),
      (4,'포도',10000,'폴리페놀을 다량함우하고 있어 항산화 작용을 합니다','grape.jpg')]
insert_many_product(datas)

In [63]:
all_product()

[1, '레몬', 1500, '레몬에 포함된 구현산은 피로회복에 좋습니다.', 'lemon.jpg']
[2, '오렌지', 5000, '비타민 C가 풍부합니다. 생과일 주스로 마시면 좋습니다', 'orange.jpg']
[3, '키위', 5000, '다이어트나 미용에 좋습니다.', 'kiwi.jpg']
[4, '포도', 10000, '폴리페놀을 다량함우하고 있어 항산화 작용을 합니다', 'grape.jpg']

In [64]:
def select_one():
    conn = cx_Oracle.connect("nyy/1234@localhost:1521/xe")
    cursor = conn.cursor()
    sql = "select count(*) from product"
    cursor.execute(sql)
    count = cursor.fetchone()
    print("상품갯수",count[0])
    cursor.close()
    conn.close()
    
select_one()

상품갯수 4

In [ ]:
# 일부 레코드 삭제
def delete_product():
    conn = cx_Oracle.connect("nyy/1234@localhost:1521/xe")
    cursor = conn.cursor()
    sql = "delete from product where product_id=:product_id"
    cursor.execute(sql,{"product_id:5"})
    cursor.close()
    conn.commit()
    conn.close()

In [ ]:
# 모든 레코드 삭제
cursor=conn.cursor()
sql="delete from product"
cursor.execute(sql)

In [ ]:
def update(price, produce_id):
    conn = cx_Oracle.connect("nyy/1234@localhost:1521/xe")
    cursor = conn.cursor()
    sql = "update product set price=:1 where produce_id=:2"
    data=(price,product_id)
    cursor.execute(sql,data)
    conn.commit()
    cursor.close()
    conn.close()
    
price = int(input("Input price : "))
produce_id = str(input("Input product_id : "))
update(price, produce_id)
all_product()

In [41]:
import pymysql

In [67]:
def insert_one_mysql(data):
    conn=pymysql.connect(host='localhost',user='nyy',password='1234',db='py_mysql_db',charset='utf8')
    cursor=conn.cursor()
    sql="insert into books(title,pub,pages,author) values(%s, %s, %s, %s)"
    cursor.execute(sql, data)
    conn.commit()
    conn.close()

In [68]:
data=('Java','한빛',500,'홍길동')
insert_one_mysql(data)

In [70]:
def insert_many_mysql(datas):
    conn=pymysql.connect(host='localhost',user='nyy',password='1234',db='py_mysql_db',charset='utf8')
    cursor=conn.cursor()
    sql="insert into books(title,pub,pages,author) values(%s, %s, %s, %s)"
    cursor.executemany(sql, datas)
    conn.commit()
    conn.close()

In [71]:
datas=[('데이터베이스','한빛',500,'홍길동'),('스프링','길벗',600,'홍길숙')]
insert_many_mysql(datas)

In [ ]:
def select_mysql_all():
    conn=pymysql.connect(host='localhost',user='nyy',password='1234',db='py_mysql_db',charset='utf8')
    cursor=conn.cursor()
    sql="select * from books"

In [ ]:
select_mysql_all()

In [ ]:
def update_mysql(data):
    conn=pymysql.connect(host='localhost',user='nyy',password='1234',db='py_mysql_db',charset='utf8')
    cursor=conn.cursor()
    sql="update books set title=%s,pub=%s,pages=%s,author=%s where id=%s"
    cursor.execute(sql, data)
    conn.commit()
    conn.close()

In [ ]:
data=('java2','생능','750','박경미',1)
update_mysql(data)

In [ ]:
def delete_mysql(data):
    conn=pymysql.connect(host='localhost',user='nyy',password='1234',db='py_mysql_db',charset='utf8')
    cursor=conn.cursor()
    sql="delete from books where id=%s"
    cursor.execute(sql,data)
    conn.commit()
    conn.close()
    7